.header {
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.body {
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body {
    background: #000 url('img/bg.jpeg') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
  }

.guesses {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    width: 80%;
}

.guessestd,
.guessesth {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
}

.guessestdname {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 1px solid #ddd;
    padding: 8px;
    font-weight: bold;
}

.guessestr:nth-child(even) {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

.guessesDist {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.guessestr:hover {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
}

.guessesthname {
    font-family: Arial, Helvetica, sans-serif;
    width: 25%;
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04aa6d;
    color: white;
}

.guessesth {
    font-family: Arial, Helvetica, sans-serif;
    width: 15%;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04aa6d;
    color: white;
}

.center {
    text-align: center;
}

.guessForm {
    text-align: center;
}
.guessForm > input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

.suggestions {
    text-align: center;
    max-height: 150px;
    overflow: scroll;
}

.banner {
    background: black;
    padding: 1em;
    display: flex;
    align-items: center;
    max-width: auto;
}

.banner__content {
    max-width: auto;
}

.banner__text {
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

.banner__button {
    color: grey;
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: 1.4em;
    display: inline-block;
}

.hidden {
    display: none;
}